USE [DB_VicerrectoradoInv]
GO
/****** Object:  Table [dbo].[asistenteBE]    Script Date: 05/01/2019 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asistenteBE](
	[id_Asis] [int] IDENTITY(1,1) NOT NULL,
	[dni_Asis] [varchar](8) NOT NULL,
	[nombres_Asis] [varchar](45) NOT NULL,
	[apellidos_Asis] [varchar](45) NOT NULL,
	[especialidad_Asis] [varchar](45) NOT NULL,
	[universidadProc_Asis] [int] NOT NULL,
	[fecNac_Asis] [date] NOT NULL,
	[correo_Asis] [varchar](45) NOT NULL,
	[telefono_Asis] [varchar](10) NOT NULL,
	[fecReg_Asis] [date] NOT NULL,
	[usuReg_Asis] [int] NOT NULL,
	[tipoAsis_Asis] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Asis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[convocatoriaBE]    Script Date: 05/01/2019 12:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[convocatoriaBE](
	[id_Conv] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_Conv] [varchar](255) NOT NULL,
	[imagen_Conv] [varchar](250) NOT NULL,
	[fecha_Conv] [varchar](50) NOT NULL,
	[estado_Conv] [int] NOT NULL,
	[usuReg_Conv] [int] NOT NULL,
	[fecReg_Conv] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Conv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entidadColaBE]    Script Date: 05/01/2019 12:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entidadColaBE](
	[id_EntidadCola] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NOT NULL,
	[descripcion] [varchar](45) NOT NULL,
	[usuReg] [int] NOT NULL,
	[fecReg] [datetime] NOT NULL,
 CONSTRAINT [PK__entidadC__702C3DC71DE57479] PRIMARY KEY CLUSTERED 
(
	[id_EntidadCola] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entidadCProyBE]    Script Date: 05/01/2019 12:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entidadCProyBE](
	[id_ECP] [int] IDENTITY(1,1) NOT NULL,
	[proyecto_ECP] [int] NOT NULL,
	[entidadC_ECP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ECP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[escuelaBE]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[escuelaBE](
	[id_Escuela] [int] IDENTITY(1,1) NOT NULL,
	[nombre_Escuela] [varchar](100) NOT NULL,
	[facultadId_Escuela] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Escuela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[especialidadBE]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[especialidadBE](
	[id_Espe] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_Espe] [varchar](45) NULL,
	[estado_Espe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Espe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eventoAsistenteBE]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventoAsistenteBE](
	[id_EventoAsis] [int] IDENTITY(1,1) NOT NULL,
	[evento_EventoAsis] [int] NULL,
	[asistente_EventoAsis] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_EventoAsis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eventoBE]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventoBE](
	[id_Evento] [int] IDENTITY(1,1) NOT NULL,
	[nombre_Evento] [varchar](250) NOT NULL,
	[descripcion_Evento] [varchar](300) NOT NULL,
	[tipo_Evento] [int] NOT NULL,
	[duracion_Evento] [varchar](250) NOT NULL,
	[fecInicio_Evento] [varchar](150) NOT NULL,
	[fecFin_Evento] [varchar](150) NOT NULL,
	[horaInicio_Evento] [varchar](20) NOT NULL,
	[horaFin_Evento] [varchar](20) NOT NULL,
	[cstGSnCertificado_Evento] [decimal](5, 2) NOT NULL,
	[cstGCnCertificado_Evento] [decimal](5, 2) NOT NULL,
	[cstFCnCertificado_Evento] [decimal](5, 2) NOT NULL,
	[imagen_Evento] [varchar](250) NOT NULL,
	[usuReg_Evento] [int] NOT NULL,
	[fecReg_Evento] [datetime] NOT NULL,
	[capacidadD_Evento] [int] NULL,
	[capacidadT_Evento] [int] NULL,
 CONSTRAINT [PK__eventoBE__CFB931395FB337D6] PRIMARY KEY CLUSTERED 
(
	[id_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eventoDetalleBE]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventoDetalleBE](
	[id_EventoDet] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_EventoDet] [varchar](250) NOT NULL,
	[ponente_EventoDet] [int] NOT NULL,
	[evento_EventoDet] [int] NOT NULL,
	[estado_EventoDet] [int] NOT NULL,
	[fecReg_EventoDet] [datetime] NOT NULL,
	[usuReg_EventoDet] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_EventoDet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facultadBE]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facultadBE](
	[id_Facu] [int] IDENTITY(1,1) NOT NULL,
	[nombre_Facu] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Facu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fechaEjeBE]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fechaEjeBE](
	[id_FE] [int] IDENTITY(1,1) NOT NULL,
	[actividad_FE] [varchar](150) NOT NULL,
	[fecha] [varchar](150) NOT NULL,
 CONSTRAINT [PK__fechaEje__0148F2E046DD6B89] PRIMARY KEY CLUSTERED 
(
	[id_FE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fechaProyBE]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fechaProyBE](
	[id_FP] [int] IDENTITY(1,1) NOT NULL,
	[proyecto_FP] [int] NOT NULL,
	[fechaEje_FP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_FP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fondoGobBE]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fondoGobBE](
	[id_fondoGob] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_fondoGob] [varchar](50) NULL,
	[estado_fondoGob] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fondoGob] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fondoGProyBE]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fondoGProyBE](
	[id_FGP] [int] IDENTITY(1,1) NOT NULL,
	[idProy] [int] NULL,
	[idFondo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_FGP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[is_message]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[is_message](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[name] [varchar](30) NOT NULL,
	[email] [varchar](30) NOT NULL,
	[message] [text] NOT NULL,
	[status] [varchar](10) NOT NULL,
 CONSTRAINT [PK__is_messa__0BBF6EE6E880175C] PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nosotrosBE]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nosotrosBE](
	[id_Nos] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_Nos] [text] NOT NULL,
	[vision_Nos] [text] NOT NULL,
	[mision_Nos] [text] NOT NULL,
	[organigrama_Nos] [varchar](250) NULL,
	[directorio_Nos] [varchar](250) NULL,
	[estado_Nos] [int] NULL,
	[usuMod_Nos] [int] NULL,
	[fecMod_Nos] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Nos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[noticiaBE]    Script Date: 05/01/2019 12:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[noticiaBE](
	[id_Noticia] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_Noticia] [varchar](500) NOT NULL,
	[fecha_Noticia] [varchar](150) NOT NULL,
	[estado_Noticia] [int] NULL,
	[imagen_Noticia] [varchar](250) NOT NULL,
	[usuReg_Noticia] [int] NOT NULL,
	[fecReg_Noticia] [datetime] NULL,
	[titulo_Noticia] [varchar](max) NOT NULL,
 CONSTRAINT [PK__noticiaB__FB56905B34C8D9D1] PRIMARY KEY CLUSTERED 
(
	[id_Noticia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[objetivoBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objetivoBE](
	[id_Objetivo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Objetivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[objetivoPryBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objetivoPryBE](
	[id_ObjetivoPry] [int] IDENTITY(1,1) NOT NULL,
	[proyecto_ObjetivoPry] [int] NOT NULL,
	[objetivo_ObjetivoPry] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ObjetivoPry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagoBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagoBE](
	[id_Pago] [int] IDENTITY(1,1) NOT NULL,
	[imagen_Pago] [varchar](max) NOT NULL,
	[eventoAsis_Pago] [int] NOT NULL,
	[estado_Pago] [int] NOT NULL,
	[usuApr_Pago] [int] NOT NULL,
	[fecha_Pago] [varchar](50) NOT NULL,
	[fechaApr_Pago] [varchar](50) NOT NULL,
 CONSTRAINT [PK__pagoBE__2A3B86B271D1E811] PRIMARY KEY CLUSTERED 
(
	[id_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ponenteBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ponenteBE](
	[id_Ponente] [int] IDENTITY(1,1) NOT NULL,
	[dni_Ponente] [varchar](15) NOT NULL,
	[nombres_Ponente] [varchar](150) NOT NULL,
	[apellidos_Ponente] [varchar](50) NOT NULL,
	[especialidad_Ponente] [int] NOT NULL,
	[univProc_Ponente] [int] NOT NULL,
	[fecNac_Ponente] [varchar](150) NOT NULL,
	[correo_Ponente] [varchar](150) NOT NULL,
	[telefono_Ponente] [varchar](150) NOT NULL,
	[usuReg_Ponente] [int] NOT NULL,
	[fecReg_Ponente] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Ponente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proyectoBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proyectoBE](
	[id_Proyecto] [int] IDENTITY(1,1) NOT NULL,
	[titulo_Proyecto] [varchar](200) NOT NULL,
	[descripcion_Proyecto] [varchar](200) NOT NULL,
	[presupuesto_Proyecto] [decimal](9, 2) NOT NULL,
	[enlace_Proyecto] [varchar](60) NOT NULL,
	[usuReg] [int] NULL,
	[escuelaId_Proyecto] [int] NOT NULL,
	[fecReg] [datetime] NOT NULL,
	[estado_Proyecto] [int] NOT NULL,
 CONSTRAINT [PK__proyecto__2544884C2E1BDC42] PRIMARY KEY CLUSTERED 
(
	[id_Proyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resolucionBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resolucionBE](
	[id_Resolucion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_Resolucion] [varchar](200) NOT NULL,
	[fecha] [varchar](150) NOT NULL,
	[archivo_Resolucion] [varchar](250) NOT NULL,
	[usuReg] [int] NOT NULL,
	[fecReg] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Resolucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resultadoBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resultadoBE](
	[id_Resultado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_Resultado] [varchar](150) NOT NULL,
	[archivo_Resultado] [varchar](250) NOT NULL,
	[concurso_Resultado] [int] NOT NULL,
	[estado_Resultado] [int] NOT NULL,
	[usuReg_Resultado] [int] NOT NULL,
	[fecReg_Resultado] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Resultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rolBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rolBE](
	[id_Rol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_Rol] [varchar](100) NOT NULL,
	[estado_Rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suscriptorBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suscriptorBE](
	[id_Susc] [int] IDENTITY(1,1) NOT NULL,
	[nombres_Susc] [varchar](45) NOT NULL,
	[apellidos_Susc] [varchar](45) NOT NULL,
	[correo_Susc] [varchar](45) NOT NULL,
	[estado_Susc] [varchar](10) NOT NULL,
 CONSTRAINT [PK__suscript__52BCB9E0BBA4845C] PRIMARY KEY CLUSTERED 
(
	[id_Susc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tesisBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tesisBE](
	[id_Tesis] [int] IDENTITY(1,1) NOT NULL,
	[titulo_Tesis] [varchar](45) NOT NULL,
	[escuela_Tesis] [int] NOT NULL,
	[fecha_Tesis] [date] NOT NULL,
	[escuelaId_Tesis] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Tesis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoAsistenteBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoAsistenteBE](
	[id_TipoAs] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_TipoAs] [varchar](50) NOT NULL,
	[estado_TipoAs] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_TipoAs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoEventoBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoEventoBE](
	[id_TipoEv] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_TipoEv] [varchar](150) NOT NULL,
	[estado_TipoEv] [int] NULL,
	[fecReg_TipoEv] [datetime] NULL,
	[usuReg_TipoEv] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_TipoEv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[universidadBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[universidadBE](
	[id_Uni] [int] IDENTITY(1,1) NOT NULL,
	[nombre_Uni] [varchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Uni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarioBE]    Script Date: 05/01/2019 12:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarioBE](
	[id_Usu] [int] IDENTITY(1,1) NOT NULL,
	[nombre_Usu] [varchar](45) NOT NULL,
	[clave_Usu] [varchar](45) NOT NULL,
	[estado_Usu] [int] NOT NULL,
	[usuReg_Usu] [int] NULL,
	[fecReg_Usu] [datetime] NULL,
	[fecMod_Usu] [datetime] NULL,
	[fullname] [varchar](50) NULL,
	[id_Rol_Usu] [int] NOT NULL,
 CONSTRAINT [PK__usuarioB__72D6079521B6055D] PRIMARY KEY CLUSTERED 
(
	[id_Usu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

create table tipoRevistaBE
(
	 id_tipoRevista int primary key not null,
	 nombre varchar(100),
	 estado int 
);

create table revistaBE
(
	id_revista int primary key not null,
	vol varchar(10),
	num varchar(10),
	anio varchar(10),
	id_tipoRevista int not null,
	foreign key (id_tipoRevista) references tipoRevistaBE(id_tipoRevista)
);

create table alerta
(
	id_alerta int primary key not null,
	titulo varchar(100),
	descripcion varchar(500),
	imagen varchar(100),
	estado tinyint
);




SET IDENTITY_INSERT [dbo].[asistenteBE] ON 

INSERT [dbo].[asistenteBE] ([id_Asis], [dni_Asis], [nombres_Asis], [apellidos_Asis], [especialidad_Asis], [universidadProc_Asis], [fecNac_Asis], [correo_Asis], [telefono_Asis], [fecReg_Asis], [usuReg_Asis], [tipoAsis_Asis]) VALUES (53, N'75119312', N'huaranga', N'Carreño', N'Sistemas', 1, CAST(N'1996-08-01' AS Date), N'roviseis@gmail.com', N'931697515', CAST(N'2018-11-29' AS Date), 1, 1)
INSERT [dbo].[asistenteBE] ([id_Asis], [dni_Asis], [nombres_Asis], [apellidos_Asis], [especialidad_Asis], [universidadProc_Asis], [fecNac_Asis], [correo_Asis], [telefono_Asis], [fecReg_Asis], [usuReg_Asis], [tipoAsis_Asis]) VALUES (54, N'75119312', N'huaranga', N'Carreño', N'Sistemas', 1, CAST(N'1996-08-01' AS Date), N'roviseis1@gmail.com', N'931697515', CAST(N'2018-11-29' AS Date), 1, 1)
INSERT [dbo].[asistenteBE] ([id_Asis], [dni_Asis], [nombres_Asis], [apellidos_Asis], [especialidad_Asis], [universidadProc_Asis], [fecNac_Asis], [correo_Asis], [telefono_Asis], [fecReg_Asis], [usuReg_Asis], [tipoAsis_Asis]) VALUES (55, N'75119312', N'huaranga', N'Carreño', N'Sistemas', 1, CAST(N'1996-08-01' AS Date), N'roviseis2@gmail.com', N'931697515', CAST(N'2018-11-29' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[asistenteBE] OFF
SET IDENTITY_INSERT [dbo].[convocatoriaBE] ON 

INSERT [dbo].[convocatoriaBE] ([id_Conv], [descripcion_Conv], [imagen_Conv], [fecha_Conv], [estado_Conv], [usuReg_Conv], [fecReg_Conv]) VALUES (24, N'Personal CAS', N'app-developer.png', N'2018-11-19', 1, 12, CAST(N'1900-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[convocatoriaBE] ([id_Conv], [descripcion_Conv], [imagen_Conv], [fecha_Conv], [estado_Conv], [usuReg_Conv], [fecReg_Conv]) VALUES (32, N'CONCURSO FONDO FOCAM', N'M4e-App-Mi-Beca-Portada-759x500.jpg', N'2019-01-09', 1, 1, CAST(N'2019-01-04T10:02:31.907' AS DateTime))
SET IDENTITY_INSERT [dbo].[convocatoriaBE] OFF
SET IDENTITY_INSERT [dbo].[escuelaBE] ON 

INSERT [dbo].[escuelaBE] ([id_Escuela], [nombre_Escuela], [facultadId_Escuela]) VALUES (1, N'EAP Bromatología y Nutrición', 1)
INSERT [dbo].[escuelaBE] ([id_Escuela], [nombre_Escuela], [facultadId_Escuela]) VALUES (2, N'EAP Estadística e Informática', 2)
INSERT [dbo].[escuelaBE] ([id_Escuela], [nombre_Escuela], [facultadId_Escuela]) VALUES (3, N'EAP Física', 2)
SET IDENTITY_INSERT [dbo].[escuelaBE] OFF
SET IDENTITY_INSERT [dbo].[especialidadBE] ON 

INSERT [dbo].[especialidadBE] ([id_Espe], [descripcion_Espe], [estado_Espe]) VALUES (1, N'Ingeniero de Sistemas', 1)
INSERT [dbo].[especialidadBE] ([id_Espe], [descripcion_Espe], [estado_Espe]) VALUES (2, N'Enfermera', 1)
INSERT [dbo].[especialidadBE] ([id_Espe], [descripcion_Espe], [estado_Espe]) VALUES (3, N'Obtetriz', 1)
SET IDENTITY_INSERT [dbo].[especialidadBE] OFF
SET IDENTITY_INSERT [dbo].[eventoAsistenteBE] ON 

INSERT [dbo].[eventoAsistenteBE] ([id_EventoAsis], [evento_EventoAsis], [asistente_EventoAsis]) VALUES (20, 1, 53)
INSERT [dbo].[eventoAsistenteBE] ([id_EventoAsis], [evento_EventoAsis], [asistente_EventoAsis]) VALUES (21, 1, 54)
INSERT [dbo].[eventoAsistenteBE] ([id_EventoAsis], [evento_EventoAsis], [asistente_EventoAsis]) VALUES (22, 1, 55)
SET IDENTITY_INSERT [dbo].[eventoAsistenteBE] OFF
SET IDENTITY_INSERT [dbo].[eventoBE] ON 

SET IDENTITY_INSERT [dbo].[eventoBE] OFF
SET IDENTITY_INSERT [dbo].[eventoDetalleBE] ON 

INSERT [dbo].[eventoDetalleBE] ([id_EventoDet], [descripcion_EventoDet], [ponente_EventoDet], [evento_EventoDet], [estado_EventoDet], [fecReg_EventoDet], [usuReg_EventoDet]) VALUES (1, N'Tecnologia y Ciencias Perù', 3, 23, 1, CAST(N'2018-11-30T10:25:20.380' AS DateTime), 12)
INSERT [dbo].[eventoDetalleBE] ([id_EventoDet], [descripcion_EventoDet], [ponente_EventoDet], [evento_EventoDet], [estado_EventoDet], [fecReg_EventoDet], [usuReg_EventoDet]) VALUES (8, N'Congreso Regional ', 4, 26, 1, CAST(N'2018-11-30T11:53:28.910' AS DateTime), 12)
SET IDENTITY_INSERT [dbo].[eventoDetalleBE] OFF
SET IDENTITY_INSERT [dbo].[facultadBE] ON 

INSERT [dbo].[facultadBE] ([id_Facu], [nombre_Facu]) VALUES (1, N'Facultad de Bromatología y Nutrición')
INSERT [dbo].[facultadBE] ([id_Facu], [nombre_Facu]) VALUES (2, N'Facultad de Ciencias')
INSERT [dbo].[facultadBE] ([id_Facu], [nombre_Facu]) VALUES (3, N'Facultad de Ciencias Económicas, Contables y Financieras')
SET IDENTITY_INSERT [dbo].[facultadBE] OFF
SET IDENTITY_INSERT [dbo].[fechaEjeBE] ON 

INSERT [dbo].[fechaEjeBE] ([id_FE], [actividad_FE], [fecha]) VALUES (1, N'Exploracion', N'2018-12-19')
INSERT [dbo].[fechaEjeBE] ([id_FE], [actividad_FE], [fecha]) VALUES (2, N'Desarrollo Conceptual', N'2018-12-19')
INSERT [dbo].[fechaEjeBE] ([id_FE], [actividad_FE], [fecha]) VALUES (3, N'Apunte Fotografico', N'2018-12-24')
SET IDENTITY_INSERT [dbo].[fechaEjeBE] OFF
SET IDENTITY_INSERT [dbo].[fechaProyBE] ON 

INSERT [dbo].[fechaProyBE] ([id_FP], [proyecto_FP], [fechaEje_FP]) VALUES (1, 1, 1)
INSERT [dbo].[fechaProyBE] ([id_FP], [proyecto_FP], [fechaEje_FP]) VALUES (14, 9, 1)
INSERT [dbo].[fechaProyBE] ([id_FP], [proyecto_FP], [fechaEje_FP]) VALUES (15, 10, 3)
SET IDENTITY_INSERT [dbo].[fechaProyBE] OFF
SET IDENTITY_INSERT [dbo].[fondoGobBE] ON 

INSERT [dbo].[fondoGobBE] ([id_fondoGob], [descripcion_fondoGob], [estado_fondoGob]) VALUES (1, N'FOCAM', 1)
INSERT [dbo].[fondoGobBE] ([id_fondoGob], [descripcion_fondoGob], [estado_fondoGob]) VALUES (2, N'FEDU', 1)
SET IDENTITY_INSERT [dbo].[fondoGobBE] OFF
SET IDENTITY_INSERT [dbo].[fondoGProyBE] ON 

INSERT [dbo].[fondoGProyBE] ([id_FGP], [idProy], [idFondo]) VALUES (1, 1, 2)
INSERT [dbo].[fondoGProyBE] ([id_FGP], [idProy], [idFondo]) VALUES (8, 10, 1)
INSERT [dbo].[fondoGProyBE] ([id_FGP], [idProy], [idFondo]) VALUES (9, 9, 2)
SET IDENTITY_INSERT [dbo].[fondoGProyBE] OFF
SET IDENTITY_INSERT [dbo].[is_message] ON 

INSERT [dbo].[is_message] ([message_id], [date], [name], [email], [message], [status]) VALUES (1, CAST(N'2018-10-25T00:00:00.000' AS DateTime), N'brayan', N'rivera_genio@hotmail.com', N'help me please!!', N'n')
INSERT [dbo].[is_message] ([message_id], [date], [name], [email], [message], [status]) VALUES (13, CAST(N'2018-11-27T12:33:17.660' AS DateTime), N'pierina', N'ivnne@hotmail.com', N'i need your help!!', N'y')
INSERT [dbo].[is_message] ([message_id], [date], [name], [email], [message], [status]) VALUES (15, CAST(N'2019-01-04T10:49:05.963' AS DateTime), N'Edynson Pascasia Romero', N'edy@hotmail.com', N'podrian enviarme informacion acerca del evento del dia 12/02/2019', N'n')
SET IDENTITY_INSERT [dbo].[is_message] OFF
SET IDENTITY_INSERT [dbo].[nosotrosBE] ON 

SET IDENTITY_INSERT [dbo].[nosotrosBE] OFF
SET IDENTITY_INSERT [dbo].[noticiaBE] ON 

SET IDENTITY_INSERT [dbo].[noticiaBE] OFF
SET IDENTITY_INSERT [dbo].[pagoBE] ON 

INSERT [dbo].[pagoBE] ([id_Pago], [imagen_Pago], [eventoAsis_Pago], [estado_Pago], [usuApr_Pago], [fecha_Pago], [fechaApr_Pago]) VALUES (14, N'pago1.png', 20, 1, 1, N'Nov 30 2018 12:00AM', N'2018-11-30')
INSERT [dbo].[pagoBE] ([id_Pago], [imagen_Pago], [eventoAsis_Pago], [estado_Pago], [usuApr_Pago], [fecha_Pago], [fechaApr_Pago]) VALUES (16, N'pago2.png', 25, 1, 1, N'Nov 30 2018 12:00AM', N'2018-11-30')
SET IDENTITY_INSERT [dbo].[pagoBE] OFF
SET IDENTITY_INSERT [dbo].[ponenteBE] ON 

INSERT [dbo].[ponenteBE] ([id_Ponente], [dni_Ponente], [nombres_Ponente], [apellidos_Ponente], [especialidad_Ponente], [univProc_Ponente], [fecNac_Ponente], [correo_Ponente], [telefono_Ponente], [usuReg_Ponente], [fecReg_Ponente]) VALUES (2, N'74306051', N'Luiggi', N'Rivera Santiago', 1, 1, N'1997-09-13', N'rivera_genio@hotmail.com', N'910528921', 12, CAST(N'2018-11-21T00:00:00.000' AS DateTime))
INSERT [dbo].[ponenteBE] ([id_Ponente], [dni_Ponente], [nombres_Ponente], [apellidos_Ponente], [especialidad_Ponente], [univProc_Ponente], [fecNac_Ponente], [correo_Ponente], [telefono_Ponente], [usuReg_Ponente], [fecReg_Ponente]) VALUES (3, N'75119312', N'Rodrigo', N'Huaranga Carreño', 2, 3, N'1996-08-01', N'rovies06@hotmail.com', N'948562412', 12, CAST(N'2018-11-21T09:41:17.130' AS DateTime))
INSERT [dbo].[ponenteBE] ([id_Ponente], [dni_Ponente], [nombres_Ponente], [apellidos_Ponente], [especialidad_Ponente], [univProc_Ponente], [fecNac_Ponente], [correo_Ponente], [telefono_Ponente], [usuReg_Ponente], [fecReg_Ponente]) VALUES (4, N'72461257', N'Rusbel ', N'Nieto Rosado', 3, 5, N'1996-05-06', N'rusbi@hotmail.com', N'962956654', 12, CAST(N'2018-11-21T09:42:32.430' AS DateTime))
SET IDENTITY_INSERT [dbo].[ponenteBE] OFF
SET IDENTITY_INSERT [dbo].[proyectoBE] ON 

INSERT [dbo].[proyectoBE] ([id_Proyecto], [titulo_Proyecto], [descripcion_Proyecto], [presupuesto_Proyecto], [enlace_Proyecto], [usuReg], [escuelaId_Proyecto], [fecReg], [estado_Proyecto]) VALUES (1, N'Implementacion de Plataforma Web', N'Implementacion', CAST(20000.00 AS Decimal(9, 2)), N'http://app.unjfsc.edu.pe/tramites/', 1, 1, CAST(N'2018-10-29T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[proyectoBE] ([id_Proyecto], [titulo_Proyecto], [descripcion_Proyecto], [presupuesto_Proyecto], [enlace_Proyecto], [usuReg], [escuelaId_Proyecto], [fecReg], [estado_Proyecto]) VALUES (8, N'Implementacion de un Sistema Web', N'Implementacion de un Sistema Web para administrar la pagina web de vicerrectorado de investigacion UNJFSC ', CAST(50000.00 AS Decimal(9, 2)), N'http://www.unjfsc.edu.pe/investigacion.php ', 1, 8, CAST(N'2018-12-27T12:16:31.610' AS DateTime), 2)
INSERT [dbo].[proyectoBE] ([id_Proyecto], [titulo_Proyecto], [descripcion_Proyecto], [presupuesto_Proyecto], [enlace_Proyecto], [usuReg], [escuelaId_Proyecto], [fecReg], [estado_Proyecto]) VALUES (9, N'Implementacion de Sistema Web', N'Implementacion de un sistema web para administrar la pagina de Vicerrectorado de Investigacion ', CAST(5000.00 AS Decimal(9, 2)), N'http://www.unjfsc.edu.pe/investigacion.php ', 1, 1, CAST(N'2018-12-27T12:16:47.743' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[proyectoBE] OFF
SET IDENTITY_INSERT [dbo].[resolucionBE] ON 

INSERT [dbo].[resolucionBE] ([id_Resolucion], [descripcion_Resolucion], [fecha], [archivo_Resolucion], [usuReg], [fecReg]) VALUES (1, N'resolucion 000213 ', N'2019-01-03', N'033204501-A.doc', 12, CAST(N'2018-11-27T11:32:17.300' AS DateTime))
SET IDENTITY_INSERT [dbo].[resolucionBE] OFF
SET IDENTITY_INSERT [dbo].[resultadoBE] ON 

INSERT [dbo].[resultadoBE] ([id_Resultado], [descripcion_Resultado], [archivo_Resultado], [concurso_Resultado], [estado_Resultado], [usuReg_Resultado], [fecReg_Resultado]) VALUES (18, N'aaaaaaaaaa', N'prueba.doc', 24, 1, 12, CAST(N'2018-11-22T10:45:14.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[resultadoBE] OFF
SET IDENTITY_INSERT [dbo].[rolBE] ON 

INSERT [dbo].[rolBE] ([id_Rol], [descripcion_Rol], [estado_Rol]) VALUES (1, N'ADMINISTRADOR', 1)
SET IDENTITY_INSERT [dbo].[rolBE] OFF
SET IDENTITY_INSERT [dbo].[suscriptorBE] ON 

INSERT [dbo].[suscriptorBE] ([id_Susc], [nombres_Susc], [apellidos_Susc], [correo_Susc], [estado_Susc]) VALUES (1, N'Luiggi ', N'Rivera Santiago', N'rivera_genio@hotmail.com', N'n')
INSERT [dbo].[suscriptorBE] ([id_Susc], [nombres_Susc], [apellidos_Susc], [correo_Susc], [estado_Susc]) VALUES (2, N'Rodrigo', N'Huaranga Carreño', N'rovies@yahoo.com', N'n')
INSERT [dbo].[suscriptorBE] ([id_Susc], [nombres_Susc], [apellidos_Susc], [correo_Susc], [estado_Susc]) VALUES (3, N'Jhordans ', N'Nieto Rosado', N'rusbel@gmail.com', N'n')
SET IDENTITY_INSERT [dbo].[suscriptorBE] OFF
SET IDENTITY_INSERT [dbo].[tipoAsistenteBE] ON 

INSERT [dbo].[tipoAsistenteBE] ([id_TipoAs], [descripcion_TipoAs], [estado_TipoAs]) VALUES (1, N'GENERAL', 1)
SET IDENTITY_INSERT [dbo].[tipoAsistenteBE] OFF
SET IDENTITY_INSERT [dbo].[tipoEventoBE] ON 

INSERT [dbo].[tipoEventoBE] ([id_TipoEv], [descripcion_TipoEv], [estado_TipoEv], [fecReg_TipoEv], [usuReg_TipoEv]) VALUES (1, N'Congreso', 1, CAST(N'2018-10-31T10:50:09.547' AS DateTime), 12)
INSERT [dbo].[tipoEventoBE] ([id_TipoEv], [descripcion_TipoEv], [estado_TipoEv], [fecReg_TipoEv], [usuReg_TipoEv]) VALUES (2, N'Feria', 1, CAST(N'2018-10-31T10:50:23.647' AS DateTime), 12)
INSERT [dbo].[tipoEventoBE] ([id_TipoEv], [descripcion_TipoEv], [estado_TipoEv], [fecReg_TipoEv], [usuReg_TipoEv]) VALUES (3, N'Ponencia', 1, CAST(N'2018-10-31T10:50:58.533' AS DateTime), 12)
SET IDENTITY_INSERT [dbo].[tipoEventoBE] OFF
SET IDENTITY_INSERT [dbo].[universidadBE] ON 

INSERT [dbo].[universidadBE] ([id_Uni], [nombre_Uni]) VALUES (1, N'Universidad Nacional Jose Faustino Sanchez Carrion')
INSERT [dbo].[universidadBE] ([id_Uni], [nombre_Uni]) VALUES (2, N'Universidad Nacional de Ingenieria')
INSERT [dbo].[universidadBE] ([id_Uni], [nombre_Uni]) VALUES (3, N'Universidad Nacional Federico Villareal')
SET IDENTITY_INSERT [dbo].[universidadBE] OFF
SET IDENTITY_INSERT [dbo].[usuarioBE] ON 

INSERT [dbo].[usuarioBE] ([id_Usu], [nombre_Usu], [clave_Usu], [estado_Usu], [usuReg_Usu], [fecReg_Usu], [fecMod_Usu], [fullname], [id_Rol_Usu]) VALUES (1, N'admin', N'admin', 1, 1, CAST(N'2018-10-14T00:00:00.000' AS DateTime), CAST(N'2018-10-14T00:00:00.000' AS DateTime), N'admin', 1)
INSERT [dbo].[usuarioBE] ([id_Usu], [nombre_Usu], [clave_Usu], [estado_Usu], [usuReg_Usu], [fecReg_Usu], [fecMod_Usu], [fullname], [id_Rol_Usu]) VALUES (12, N'admin', N'admin', 1, 1, CAST(N'2018-10-14T00:00:00.000' AS DateTime), CAST(N'2018-10-14T00:00:00.000' AS DateTime), N'admin', 1)
INSERT [dbo].[usuarioBE] ([id_Usu], [nombre_Usu], [clave_Usu], [estado_Usu], [usuReg_Usu], [fecReg_Usu], [fecMod_Usu], [fullname], [id_Rol_Usu]) VALUES (15, N'admin', N'admin', 1, 1, CAST(N'2018-10-14T00:00:00.000' AS DateTime), CAST(N'2018-10-14T00:00:00.000' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[usuarioBE] OFF
ALTER TABLE [dbo].[convocatoriaBE] ADD  CONSTRAINT [DF_convocatoriaBE_fecReg_Conv]  DEFAULT (getdate()) FOR [fecReg_Conv]
GO
ALTER TABLE [dbo].[entidadColaBE] ADD  CONSTRAINT [DF_entidadColaBE_fecReg]  DEFAULT (getdate()) FOR [fecReg]
GO
ALTER TABLE [dbo].[especialidadBE] ADD  DEFAULT (NULL) FOR [descripcion_Espe]
GO
ALTER TABLE [dbo].[especialidadBE] ADD  DEFAULT (NULL) FOR [estado_Espe]
GO
ALTER TABLE [dbo].[eventoAsistenteBE] ADD  DEFAULT (NULL) FOR [evento_EventoAsis]
GO
ALTER TABLE [dbo].[eventoAsistenteBE] ADD  DEFAULT (NULL) FOR [asistente_EventoAsis]
GO
ALTER TABLE [dbo].[eventoBE] ADD  CONSTRAINT [DF_eventoBE_fecReg_Evento]  DEFAULT (getdate()) FOR [fecReg_Evento]
GO
ALTER TABLE [dbo].[eventoDetalleBE] ADD  CONSTRAINT [DF_eventoDetalleBE_estado_EventoDet]  DEFAULT ((1)) FOR [estado_EventoDet]
GO
ALTER TABLE [dbo].[eventoDetalleBE] ADD  CONSTRAINT [DF_eventoDetalleBE_fecReg_EventoDet]  DEFAULT (getdate()) FOR [fecReg_EventoDet]
GO
ALTER TABLE [dbo].[is_message] ADD  CONSTRAINT [DF_is_message_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[is_message] ADD  CONSTRAINT [DF_is_message_status]  DEFAULT ('n') FOR [status]
GO
ALTER TABLE [dbo].[noticiaBE] ADD  CONSTRAINT [DF_noticiaBE_estado_Noticia]  DEFAULT ((1)) FOR [estado_Noticia]
GO
ALTER TABLE [dbo].[noticiaBE] ADD  CONSTRAINT [DF_noticiaBE_fecReg_Noticia]  DEFAULT (getdate()) FOR [fecReg_Noticia]
GO
ALTER TABLE [dbo].[pagoBE] ADD  CONSTRAINT [DF_pagoBE_fecha_Pago]  DEFAULT (getdate()) FOR [fecha_Pago]
GO
ALTER TABLE [dbo].[ponenteBE] ADD  CONSTRAINT [DF_ponenteBE_fecReg_Ponente]  DEFAULT (getdate()) FOR [fecReg_Ponente]
GO
ALTER TABLE [dbo].[proyectoBE] ADD  CONSTRAINT [DF__proyectoB__usuRe__300424B4]  DEFAULT (NULL) FOR [usuReg]
GO
ALTER TABLE [dbo].[proyectoBE] ADD  CONSTRAINT [DF_proyectoBE_fecReg]  DEFAULT (getdate()) FOR [fecReg]
GO
ALTER TABLE [dbo].[resolucionBE] ADD  CONSTRAINT [DF_resolucionBE_fecReg]  DEFAULT (getdate()) FOR [fecReg]
GO
ALTER TABLE [dbo].[resultadoBE] ADD  CONSTRAINT [DF_resultadoBE_fecReg_Resultado]  DEFAULT (getdate()) FOR [fecReg_Resultado]
GO
ALTER TABLE [dbo].[suscriptorBE] ADD  CONSTRAINT [DF_suscriptorBE_estado_Susc]  DEFAULT ('n') FOR [estado_Susc]
GO
ALTER TABLE [dbo].[tipoEventoBE] ADD  DEFAULT (NULL) FOR [descripcion_TipoEv]
GO
ALTER TABLE [dbo].[tipoEventoBE] ADD  DEFAULT (NULL) FOR [estado_TipoEv]
GO
ALTER TABLE [dbo].[tipoEventoBE] ADD  CONSTRAINT [DF__tipoEvent__fecRe__01142BA1]  DEFAULT (getdate()) FOR [fecReg_TipoEv]
GO
ALTER TABLE [dbo].[tipoEventoBE] ADD  DEFAULT (NULL) FOR [usuReg_TipoEv]
GO
ALTER TABLE [dbo].[usuarioBE] ADD  DEFAULT (NULL) FOR [usuReg_Usu]
GO
ALTER TABLE [dbo].[usuarioBE] ADD  CONSTRAINT [DF_usuarioBE_fecReg_Usu]  DEFAULT (getdate()) FOR [fecReg_Usu]
GO
ALTER TABLE [dbo].[asistenteBE]  WITH CHECK ADD  CONSTRAINT [fk_AsistenteBE_TipoAsistenteBE1] FOREIGN KEY([tipoAsis_Asis])
REFERENCES [dbo].[tipoAsistenteBE] ([id_TipoAs])
GO
ALTER TABLE [dbo].[asistenteBE] CHECK CONSTRAINT [fk_AsistenteBE_TipoAsistenteBE1]
GO
ALTER TABLE [dbo].[asistenteBE]  WITH CHECK ADD  CONSTRAINT [fk_AsistenteBE_UsuarioBE1] FOREIGN KEY([usuReg_Asis])
REFERENCES [dbo].[usuarioBE] ([id_Usu])
GO
ALTER TABLE [dbo].[asistenteBE] CHECK CONSTRAINT [fk_AsistenteBE_UsuarioBE1]
GO
ALTER TABLE [dbo].[convocatoriaBE]  WITH CHECK ADD  CONSTRAINT [fk_ConvocatoriaBE_UsuarioBE1] FOREIGN KEY([usuReg_Conv])
REFERENCES [dbo].[usuarioBE] ([id_Usu])
GO
ALTER TABLE [dbo].[convocatoriaBE] CHECK CONSTRAINT [fk_ConvocatoriaBE_UsuarioBE1]
GO
ALTER TABLE [dbo].[entidadCProyBE]  WITH CHECK ADD  CONSTRAINT [fk_EntidadCProyBE_EntidadColaBE1] FOREIGN KEY([entidadC_ECP])
REFERENCES [dbo].[entidadColaBE] ([id_EntidadCola])
GO
ALTER TABLE [dbo].[entidadCProyBE] CHECK CONSTRAINT [fk_EntidadCProyBE_EntidadColaBE1]
GO
ALTER TABLE [dbo].[entidadCProyBE]  WITH CHECK ADD  CONSTRAINT [fk_EntidadCProyBE_ProyectoBE1] FOREIGN KEY([proyecto_ECP])
REFERENCES [dbo].[proyectoBE] ([id_Proyecto])
GO
ALTER TABLE [dbo].[entidadCProyBE] CHECK CONSTRAINT [fk_EntidadCProyBE_ProyectoBE1]
GO
ALTER TABLE [dbo].[escuelaBE]  WITH CHECK ADD  CONSTRAINT [fk_EscuelaBE_FacultadBE1] FOREIGN KEY([facultadId_Escuela])
REFERENCES [dbo].[facultadBE] ([id_Facu])
GO
ALTER TABLE [dbo].[escuelaBE] CHECK CONSTRAINT [fk_EscuelaBE_FacultadBE1]
GO
ALTER TABLE [dbo].[eventoAsistenteBE]  WITH CHECK ADD  CONSTRAINT [fk_EventoAsitente_AsistenteBE1] FOREIGN KEY([asistente_EventoAsis])
REFERENCES [dbo].[asistenteBE] ([id_Asis])
GO
ALTER TABLE [dbo].[eventoAsistenteBE] CHECK CONSTRAINT [fk_EventoAsitente_AsistenteBE1]
GO
ALTER TABLE [dbo].[eventoAsistenteBE]  WITH CHECK ADD  CONSTRAINT [fk_EventoAsitente_EventoBE1] FOREIGN KEY([evento_EventoAsis])
REFERENCES [dbo].[eventoBE] ([id_Evento])
GO
ALTER TABLE [dbo].[eventoAsistenteBE] CHECK CONSTRAINT [fk_EventoAsitente_EventoBE1]
GO
ALTER TABLE [dbo].[eventoBE]  WITH CHECK ADD  CONSTRAINT [fk_EventoBE_TipoEventoBE] FOREIGN KEY([tipo_Evento])
REFERENCES [dbo].[tipoEventoBE] ([id_TipoEv])
GO
ALTER TABLE [dbo].[eventoBE] CHECK CONSTRAINT [fk_EventoBE_TipoEventoBE]
GO
ALTER TABLE [dbo].[eventoBE]  WITH CHECK ADD  CONSTRAINT [fk_EventoBE_UsuarioBE1] FOREIGN KEY([usuReg_Evento])
REFERENCES [dbo].[usuarioBE] ([id_Usu])
GO
ALTER TABLE [dbo].[eventoBE] CHECK CONSTRAINT [fk_EventoBE_UsuarioBE1]
GO
ALTER TABLE [dbo].[eventoDetalleBE]  WITH CHECK ADD  CONSTRAINT [fk_EventoDetalleBE_EventoBE1] FOREIGN KEY([evento_EventoDet])
REFERENCES [dbo].[eventoBE] ([id_Evento])
GO
ALTER TABLE [dbo].[eventoDetalleBE] CHECK CONSTRAINT [fk_EventoDetalleBE_EventoBE1]
GO
ALTER TABLE [dbo].[eventoDetalleBE]  WITH CHECK ADD  CONSTRAINT [fk_EventoDetalleBE_PonenteBE1] FOREIGN KEY([ponente_EventoDet])
REFERENCES [dbo].[ponenteBE] ([id_Ponente])
GO
ALTER TABLE [dbo].[eventoDetalleBE] CHECK CONSTRAINT [fk_EventoDetalleBE_PonenteBE1]
GO
ALTER TABLE [dbo].[eventoDetalleBE]  WITH CHECK ADD  CONSTRAINT [fk_EventoDetalleBE_UsuarioBE1] FOREIGN KEY([usuReg_EventoDet])
REFERENCES [dbo].[usuarioBE] ([id_Usu])
GO
ALTER TABLE [dbo].[eventoDetalleBE] CHECK CONSTRAINT [fk_EventoDetalleBE_UsuarioBE1]
GO
ALTER TABLE [dbo].[fechaProyBE]  WITH CHECK ADD  CONSTRAINT [fk_FechaProyBE_FechaEjeBE1] FOREIGN KEY([fechaEje_FP])
REFERENCES [dbo].[fechaEjeBE] ([id_FE])
GO
ALTER TABLE [dbo].[fechaProyBE] CHECK CONSTRAINT [fk_FechaProyBE_FechaEjeBE1]
GO
ALTER TABLE [dbo].[fechaProyBE]  WITH CHECK ADD  CONSTRAINT [fk_FechaProyBE_ProyectoBE1] FOREIGN KEY([proyecto_FP])
REFERENCES [dbo].[proyectoBE] ([id_Proyecto])
GO
ALTER TABLE [dbo].[fechaProyBE] CHECK CONSTRAINT [fk_FechaProyBE_ProyectoBE1]
GO
ALTER TABLE [dbo].[fondoGProyBE]  WITH CHECK ADD FOREIGN KEY([idFondo])
REFERENCES [dbo].[fondoGobBE] ([id_fondoGob])
GO
ALTER TABLE [dbo].[fondoGProyBE]  WITH CHECK ADD  CONSTRAINT [FK__fondoGPro__idPro__14270015] FOREIGN KEY([idProy])
REFERENCES [dbo].[proyectoBE] ([id_Proyecto])
GO
ALTER TABLE [dbo].[fondoGProyBE] CHECK CONSTRAINT [FK__fondoGPro__idPro__14270015]
GO
ALTER TABLE [dbo].[nosotrosBE]  WITH CHECK ADD  CONSTRAINT [fk_NosotrosBE_UsuarioBE1] FOREIGN KEY([usuMod_Nos])
REFERENCES [dbo].[usuarioBE] ([id_Usu])
GO
ALTER TABLE [dbo].[nosotrosBE] CHECK CONSTRAINT [fk_NosotrosBE_UsuarioBE1]
GO
ALTER TABLE [dbo].[noticiaBE]  WITH CHECK ADD  CONSTRAINT [fk_NoticiaBE_UsuarioBE1] FOREIGN KEY([usuReg_Noticia])
REFERENCES [dbo].[usuarioBE] ([id_Usu])
GO
ALTER TABLE [dbo].[noticiaBE] CHECK CONSTRAINT [fk_NoticiaBE_UsuarioBE1]
GO
ALTER TABLE [dbo].[objetivoPryBE]  WITH CHECK ADD  CONSTRAINT [fk_ObjetivoPryBE_ObjetivoBE1] FOREIGN KEY([objetivo_ObjetivoPry])
REFERENCES [dbo].[objetivoBE] ([id_Objetivo])
GO
ALTER TABLE [dbo].[objetivoPryBE] CHECK CONSTRAINT [fk_ObjetivoPryBE_ObjetivoBE1]
GO
ALTER TABLE [dbo].[objetivoPryBE]  WITH CHECK ADD  CONSTRAINT [fk_ObjetivoPryBE_ProyectoBE1] FOREIGN KEY([proyecto_ObjetivoPry])
REFERENCES [dbo].[proyectoBE] ([id_Proyecto])
GO
ALTER TABLE [dbo].[objetivoPryBE] CHECK CONSTRAINT [fk_ObjetivoPryBE_ProyectoBE1]
GO
ALTER TABLE [dbo].[pagoBE]  WITH CHECK ADD  CONSTRAINT [fk_PagoBE_EventoAsitente1] FOREIGN KEY([eventoAsis_Pago])
REFERENCES [dbo].[eventoAsistenteBE] ([id_EventoAsis])
GO
ALTER TABLE [dbo].[pagoBE] CHECK CONSTRAINT [fk_PagoBE_EventoAsitente1]
GO
ALTER TABLE [dbo].[pagoBE]  WITH CHECK ADD  CONSTRAINT [fk_PagoBE_UsuarioBE1] FOREIGN KEY([usuApr_Pago])
REFERENCES [dbo].[usuarioBE] ([id_Usu])
GO
ALTER TABLE [dbo].[pagoBE] CHECK CONSTRAINT [fk_PagoBE_UsuarioBE1]
GO
ALTER TABLE [dbo].[ponenteBE]  WITH CHECK ADD  CONSTRAINT [fk_PonenteBE_Especialidad1] FOREIGN KEY([especialidad_Ponente])
REFERENCES [dbo].[especialidadBE] ([id_Espe])
GO
ALTER TABLE [dbo].[ponenteBE] CHECK CONSTRAINT [fk_PonenteBE_Especialidad1]
GO
ALTER TABLE [dbo].[ponenteBE]  WITH CHECK ADD  CONSTRAINT [fk_PonenteBE_Universidad1] FOREIGN KEY([univProc_Ponente])
REFERENCES [dbo].[universidadBE] ([id_Uni])
GO
ALTER TABLE [dbo].[ponenteBE] CHECK CONSTRAINT [fk_PonenteBE_Universidad1]
GO
ALTER TABLE [dbo].[ponenteBE]  WITH CHECK ADD  CONSTRAINT [fk_PonenteBE_UsuarioBE1] FOREIGN KEY([usuReg_Ponente])
REFERENCES [dbo].[usuarioBE] ([id_Usu])
GO
ALTER TABLE [dbo].[ponenteBE] CHECK CONSTRAINT [fk_PonenteBE_UsuarioBE1]
GO
ALTER TABLE [dbo].[proyectoBE]  WITH CHECK ADD  CONSTRAINT [fk_ProyectoBE_EscuelaBE1] FOREIGN KEY([escuelaId_Proyecto])
REFERENCES [dbo].[escuelaBE] ([id_Escuela])
GO
ALTER TABLE [dbo].[proyectoBE] CHECK CONSTRAINT [fk_ProyectoBE_EscuelaBE1]
GO
ALTER TABLE [dbo].[proyectoBE]  WITH CHECK ADD  CONSTRAINT [fk_ProyectoBE_UsuarioBE1] FOREIGN KEY([usuReg])
REFERENCES [dbo].[usuarioBE] ([id_Usu])
GO
ALTER TABLE [dbo].[proyectoBE] CHECK CONSTRAINT [fk_ProyectoBE_UsuarioBE1]
GO
ALTER TABLE [dbo].[resolucionBE]  WITH CHECK ADD  CONSTRAINT [fk_Resolucion_UsuarioBE1] FOREIGN KEY([usuReg])
REFERENCES [dbo].[usuarioBE] ([id_Usu])
GO
ALTER TABLE [dbo].[resolucionBE] CHECK CONSTRAINT [fk_Resolucion_UsuarioBE1]
GO
ALTER TABLE [dbo].[resultadoBE]  WITH CHECK ADD  CONSTRAINT [fk_ResultadoBE_ConvocatoriaBE1] FOREIGN KEY([concurso_Resultado])
REFERENCES [dbo].[convocatoriaBE] ([id_Conv])
GO
ALTER TABLE [dbo].[resultadoBE] CHECK CONSTRAINT [fk_ResultadoBE_ConvocatoriaBE1]
GO
ALTER TABLE [dbo].[resultadoBE]  WITH CHECK ADD  CONSTRAINT [fk_ResultadoBE_UsuarioBE1] FOREIGN KEY([usuReg_Resultado])
REFERENCES [dbo].[usuarioBE] ([id_Usu])
GO
ALTER TABLE [dbo].[resultadoBE] CHECK CONSTRAINT [fk_ResultadoBE_UsuarioBE1]
GO
ALTER TABLE [dbo].[tesisBE]  WITH CHECK ADD  CONSTRAINT [fk_TesisBE_EscuelaBE1] FOREIGN KEY([escuelaId_Tesis])
REFERENCES [dbo].[escuelaBE] ([id_Escuela])
GO
ALTER TABLE [dbo].[tesisBE] CHECK CONSTRAINT [fk_TesisBE_EscuelaBE1]
GO
ALTER TABLE [dbo].[tipoEventoBE]  WITH CHECK ADD  CONSTRAINT [fk_TipoEventoBE_UsuarioBE1] FOREIGN KEY([usuReg_TipoEv])
REFERENCES [dbo].[usuarioBE] ([id_Usu])
GO
ALTER TABLE [dbo].[tipoEventoBE] CHECK CONSTRAINT [fk_TipoEventoBE_UsuarioBE1]
GO
ALTER TABLE [dbo].[usuarioBE]  WITH CHECK ADD  CONSTRAINT [fk_UsuarioBE_RolBE1] FOREIGN KEY([id_Rol_Usu])
REFERENCES [dbo].[rolBE] ([id_Rol])
GO
ALTER TABLE [dbo].[usuarioBE] CHECK CONSTRAINT [fk_UsuarioBE_RolBE1]
GO
ALTER TABLE [dbo].[is_message]  WITH CHECK ADD  CONSTRAINT [CK__is_messag__statu__6EC0713C] CHECK  (([status]='N' OR [status]='Y'))
GO
ALTER TABLE [dbo].[is_message] CHECK CONSTRAINT [CK__is_messag__statu__6EC0713C]
GO
