*{padding:0;margin:0;}


.float{
	position:fixed;
	bottom:40px;
	left:40px;
	background-image: linear-gradient(to left, rgba(118, 209, 252, 0.75) 0%, rgba(20, 126, 247, 0.86) 100%);
	box-shadow: 0 9px 25px -5px #5c8ffc;
	font-family: 'Abel', sans-serif;
	padding: 0.5em 1.9em;
	margin: 2.3em 0 0 0;
	border-radius: 7px;
	font-size: 1.4em;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 1em;
	outline: none;
	border: none;
}

.my-float{
	margin-top:22px;
}
.modal{
	position:fixed;
	width:240px;
	height:180px;
	bottom:40px;
	left:40px;
	background-image: linear-gradient(to top, rgba(205, 156, 242, 0.40) 0%, rgba(246, 255, 255, 0.71) 100%);
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	text-align: center;
	border-radius: 5px;
	margin: 3em auto;
	background: rgba(255, 255, 255, 0.95);
	padding: 1em;
}
.modal>.close {
	display: inline-block;
    position: relative;
    margin: 10px;
    right: 10px;
	width: 100%;
    text-align: right;
    float: right;
    font-size: 1.6rem;
    line-height: 37px;	
	color: rgba(0,0,0,0.37);
}
.modal>.close:hover {
	cursor: pointer;
}
.input1{
	width: 210px;
	display: inline-block;
	text-align: center;
	border-radius: 7px;
	background: #eee;
	padding: 1em 2em;
	outline: none;
	border: none;
	color: #222;
	transition: 0.3s linear;
}
.btn1{
	background-image: linear-gradient(to left, rgba(118, 209, 252, 0.75) 0%, rgba(20, 126, 247, 0.86) 100%);
	box-shadow: 0 9px 25px -5px #5c8ffc;
	font-family: 'Abel', sans-serif;
	padding: 0.5em 1.9em;
	margin: 2.3em 0 0 0;
	border-radius: 7px;
	font-size: 1.4em;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 1em;
	outline: none;
	border: none;
}
.button2 {
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(8, 3, 3);
	letter-spacing: 3px;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 14px;
	display: inline-block;
	padding: 15px 20px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);
	cursor: pointer;
  }
  .button2:before, .button2:after {
	position: absolute;
	content: "";
	display: block;
  }
  .button2:before {
	top: -120px;
	left: 50px;
	z-index: -1;
	width: calc(100% + 140px);
	height: 100px;
	transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);
	-webkit-transform: skew(70deg);
			transform: skew(70deg);
	background: #fac762;
  }
  .button2:after {
	top: 0;
	left: 0;
	z-index: -2;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	border: 1px solid rgb(0, 133, 18);
	background: #3685e9;
  }
  .button2:hover:before {
	left: -50px;
	top: -20px;
  }

